.c-timeline {
  margin-left: 1rem;
  margin-top: 1rem;

  @media only screen and (max-width: 1024px) {
    font-size: .75rem;
  }

  @media only screen and (max-width: 599px) {
    font-size: .5rem;
  }

  &__item {
    padding: 2rem;
    position: relative;
    color: rgba(black, 0.7);
    border-left: 2px solid #ffc107;

    p {
      font-size: 1rem;

      @media only screen and (max-width: 1024px) {
        font-size: .75rem;
      }

      @media only screen and (max-width: 599px) {
        font-size: .5rem;
      }
    }

    &::before {
      content: attr(date-is);
      position: absolute;
      left: 2rem;
      font-weight: bold;
      top: 1rem;
      display: block;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 0.785rem;
    }

    &::after {
      width: 10px;
      height: 10px;
      display: block;
      top: 1rem;
      position: absolute;
      left: -7px;
      border-radius: 10px;
      content: "";
      border: 2px solid #ffc107;
      background: white;
    }

    &:first-child {
      padding-top: .5rem;

      &::before {
        content: attr(date-is);
        position: absolute;
        left: 2rem;
        font-weight: bold;
        top: 0;
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 0.785rem;
      }

      &::after {
        width: 10px;
        height: 10px;
        display: block;
        top: 0;
        position: absolute;
        left: -8px;
        border-radius: 10px;
        content: "";
        border: 2px solid #ffc107;
        background: white;
      }
    }

    &:last-child {
      border-image: linear-gradient(to bottom, #ffc107 60%, rgba(#ffc107, 0)) 1
        100%;
    }
  }
}
