.p-blogs {
  &__title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 400;

    @media only screen and (max-width: 1024px) {
      font-size: 1.1rem;
      margin-bottom: 1.25rem;
    }

    @media only screen and (max-width: 599px) {
      font-size: 1rem;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
  }

  &__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: 599px) {
      display: block;
      padding: 0 3rem;
    }

    li {
      margin-bottom: 3rem;

      &:not(:nth-child(3n)) {
        margin-right: 3rem;

        @media only screen and (max-width: 1024px) {
          margin-right: 2rem;
        }
      }

      @media only screen and (max-width: 1024px) {
        margin-bottom: 2rem;
      }
    }
  }

  &__link {
    text-align: right;

    @media only screen and (max-width: 599px) {
      padding: 0 3rem;
    }

    a {
      color: #03a9f4;
      border: 1px solid #03a9f4;
      border-radius: 16px;
      padding: 0.25rem 0.75rem;
    }
  }
}
