.c-contact {
  &__title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 400;

    @media only screen and (max-width: 1024px) {
      font-size: 1.1rem;
      margin-bottom: 1.25rem;
    }

    @media only screen and (max-width: 599px) {
      font-size: 1rem;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
  }

  &__form {
    padding: 0 4rem;

    @media only screen and (max-width: 599px) {
      padding: 0 2rem;
    }

    &-input {
      margin-bottom: 2rem;

      &__label {
        margin-bottom: 0.5rem;

        span {
          color: #ff0000;
          font-size: 0.75rem;
          margin-left: 1rem;
        }
      }

      input,
      textarea {
        width: 100%;
        padding: 4px 8px;
        border: 1px solid #b3e5fc;
        border-radius: 4px;
        line-height: 1.25rem;
        resize: none;
        background-color: rgba(#b3e5fc, 0.2);
      }

      p {
        color: #ff0000;
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
    }

    &-button {
      text-align: center;

      button {
        padding: 0.5rem 1rem;
        background-color: #03a9f4;
        border-radius: 4px;
        color: #fff;
        font-size: 1.1rem;
      }
    }
  }

  &__modal {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    .close {
      position: absolute;
      top: 0;
      right: -5%;
      color: #bdbdbd;
    }

    &-message {
      font-size: 1.25rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media only screen and (max-width: 599px) {
        font-size: 1rem;
      }

      &.processing {
        color: #03a9f4;

        div {
          height: 60px;
          width: 60px;
          border-radius: 100%;
          border: 2px solid #03a9f4;
          -webkit-animation: ball-scale-ripple 1s 0s infinite
            cubic-bezier(0.21, 0.53, 0.56, 0.8);
          animation: ball-scale-ripple 1s 0s infinite
            cubic-bezier(0.21, 0.53, 0.56, 0.8);

          @keyframes ball-scale-ripple {
            0% {
              -webkit-transform: scale(0.1);
              transform: scale(0.1);
              opacity: 1;
            }

            70% {
              -webkit-transform: scale(1);
              transform: scale(1);
              opacity: 0.7;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }

      &.success {
        color: #17c400;
      }

      &.failed {
        color: #cc0000;
      }

      svg {
        font-size: 3.75rem;

        @media only screen and (max-width: 599px) {
          font-size: 2.5rem;
        }
      }
    }

    button {
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      background-color: rgba(#bdbdbd, 0.2);
      border: 1px solid rgba(#757575, 0.4);
      border-radius: 4px;

      @media only screen and (max-width: 599px) {
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
